<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/welcome">Cookie eater</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <span class="label" style="font-size:100%">{{loggedInUser.firstname}} {{loggedInUser.lastname}}</span>
                <button ng-click="logout()" class="btn btn-default">Logout</button>
                <a type="button" class="btn btn-default" href="/#/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </form>
        </div>
    </div>
    </div>
</nav>