<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cookie eater</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <span class="label" style="font-size:100%">{{loggedInUser.username}}</span>
                <button ng-click="logout()" class="btn btn-success">Logout</button>
            </form>
        </div>
    </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Cookie Box</h1>
        <p>This is a demo for an insecure website implemented with angular. Read more about securing angular applications at <a target="_blank" href="https://blog.codecentric.de/en">codecentric blog</a>. Watch out for your cookies!</p>
        <br>
        <p>I'm hungry!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Eat all</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" ng-repeat="cookie in sweetCookies">
            <h2>{{cookie.name}}</h2>
            <img src="/images/choco.jpg" width="340px" height="auto"/>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">Eat me</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2017 Company, Inc.</p>
    </footer>
</div>
