<div ng-include="'/views/header.html'"></div>

<div class="jumbotron">
    <div class="container">
        <h1>Cookie Box</h1>
        <p>This is a demo for an insecure website implemented with angular. Read more about securing angular applications at <a target="_blank" href="https://blog.codecentric.de/en">codecentric blog</a>. Watch out for your cookies!</p>
        <br>
        <p>I'm hungry!</p>
        <p><a ng-click="eatAll()" class="btn btn-primary btn-lg" role="button">Eat all</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" ng-repeat="cookie in sweetCookies">
            <h2>{{cookie.name}}</h2>
            <img src="/images/choco.jpg" width="340px" height="auto"/>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a ng-click="eatMe(cookie)" class="btn btn-default" role="button">Eat me</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2017 Company, Inc.</p>
    </footer>
</div>
